Repository abcdqfr/linux-wallpaperengine-gtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

check-attribute-errors:
  name: Check for AttributeError patterns
  ...

check-shell-injection:
  name: Check for shell injection risks
  entry: python3 -c "import sys; content = open('linux-wallpaperengine-gtk.py', 'r').read(); sys.exit(1 if 'shell=True' in content else 0)"
  language: system
  pass_filenames: false

check-broad-exceptions:
  name: Check for bare except clauses
  entry: python3 -c "import sys, re; content = open('linux-wallpaperengine-gtk.py', 'r').read(); bare_except = re.findall(r'^\s*except\s*:', content, re.MULTILINE); sys.exit(1 if bare_except else 0)"
  language: system
  pass_filenames: false

jscpd:
  name: jscpd
  entry: jscpd --config .jscpdrc.json
  language: system

fix: make quit deterministic and add e2e coverage
  .forgejo/workflows/ci.yml
  .gitignore
  linux-wallpaperengine-gtk.py
  scripts/scan-thumbnails.py
  tests/e2e_quit_test.py
  tests/quit_settings_dialog_guard_test.py
  tests/thumbnail_scan_test.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

fix: address bugbot release/mute issues
  linux-wallpaperengine-gtk.py
  scripts/release.sh
  tests/e2e_quit_test.py
  tests/quit_settings_dialog_guard_test.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

chore: apply formatting fixes
  scripts/scan-thumbnails.py
  tests/thumbnail_scan_test.py
Due: jscpd

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3a52b1484ff9080a94eb8c9ffb252e1db78eeb7a
Due: none

chore: publish release assets for existing tags
  scripts/publish-tag-assets.sh
Due: none

fix: publish-tag-assets parses Forgejo JSON safely
  scripts/publish-tag-assets.sh
Due: none

chore: drop curated source tarball from releases
  scripts/publish-tag-assets.sh
  scripts/release.sh
Due: none

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  72eda7a8a4a0eb5c00df12ce671804d3b43ba1fe
Due: none

chore: remove internal release docs
  docs/RELEASE_GAPS_PUNCHLIST.md
  docs/RELEASE_POLICY.md
Due: none

Delete extreneous docs directory
  docs/RELEASE_GAPS_PUNCHLIST.md
  docs/RELEASE_POLICY.md
  docs/REVIEW_VS_LAST_PUBLIC_COMMIT.md
Due: none

Path conditions:
  check-attribute-errors: any of: ^linux-wallpaperengine-gtk\.py$
  check-shell-injection: any of: ^linux-wallpaperengine-gtk\.py$
  check-broad-exceptions: any of: ^linux-wallpaperengine-gtk\.py$
  jscpd: any of: \.(py|js|ts|json|yaml|yml)$, but not: ^(.*\.min\.js|.*\.bundle\.js|node_modules|__pycache__|\.git|.*test.*|.*spec.*)
