Repository abcdqfr/linux-wallpaperengine-gtk: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

Path conditions:
  check-attribute-errors: any of: ^linux-wallpaperengine-gtk\.py$
  check-shell-injection: any of: ^linux-wallpaperengine-gtk\.py$
  check-broad-exceptions: any of: ^linux-wallpaperengine-gtk\.py$
  jscpd: any of: \.(py|js|ts|json|yaml|yml)$, but not: ^(.*\.min\.js|.*\.bundle\.js|node_modules|__pycache__|\.git|.*test.*|.*spec.*)

Fix pre-commit config: exclude from Prettier and fix yamllint errors
  .pre-commit-config.yaml
Due: jscpd

ci: fix workflow to handle old package structure and add Node.js setup
  .github/workflows/ci.yml
Due: none

feat: Freedesktop launcher plus CI reliability fixes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

docs: vendor upstream engine submodule and document full-stack clone
  .gitignore
  .gitmodules
  README.md
  docs/REVIEW_VS_LAST_PUBLIC_COMMIT.md
Due: none

docs: verify full-stack README against submodule build (E2E)
  README.md
  docs/REVIEW_VS_LAST_PUBLIC_COMMIT.md
Due: none

feat: autodetect submodule-built engine; match upstream build docs
  README.md
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

fix: make Docker containerization opt-in only
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

feat: GNOME X11 compatibility via window-mode backend
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

chore: remove unused docker_caps after opt-in change
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

chore: correct MIT license header; document GPL engine submodule
  .gitignore
  LICENSE
  README.md
  THIRD_PARTY_LICENSES.md
Due: none

chore: bump LICENSE copyright year to 2026
  LICENSE
Due: none

ci: fix semantic-release node version and stabilize pre-commit
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  THIRD_PARTY_LICENSES.md
  docs/REVIEW_VS_LAST_PUBLIC_COMMIT.md
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

ci: install semantic-release plugins
  .github/workflows/semantic-release.yml
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3dab95ba8599af2aafa14372a89faa6381ec150c
Due: none

ci: Forgejo-first workflow, smoke tests, deterministic process checks
  .forgejo/workflows/ci.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  linux-wallpaperengine-gtk.py
  tests/test_smoke.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

ci: local smoke script, scoped Bandit, pip cache, naming fix
  .forgejo/workflows/ci.yml
  .gitignore
  linux-wallpaperengine-gtk.py
  pyproject.toml
  scripts/ci-local.sh
  tests/smoke_test.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

test: exercise process probe in CI; extract wallpaper_process_probe
  .forgejo/workflows/ci.yml
  .gitignore
  linux-wallpaperengine-gtk.py
  scripts/ci-local.sh
  tests/smoke_test.py
  tests/test_wallpaper_process_probe.py
  wallpaper_process_probe.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

build: add Makefile for ci/test targets (no GTK e2e yet)
  .gitignore
  Makefile
Due: none

chore: wire byte-compile + pytest into pre-commit; CI Gtk import smoke
  .forgejo/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/ci-local.sh
  tests/wallpaper_process_probe_test.py
Due: jscpd

feat: verify scene.json only when referenced; context menu remove local files
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

fix: robust quit even with nested GTK loops
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

chore: add lean commit/versioning rule
  .cursor/rules/commit-messages-versioning.mdc
  .gitignore
Due: none

build: release helper + standalone script fallback
  .gitignore
  linux-wallpaperengine-gtk.py
  scripts/release.sh
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

build: release script ignores untracked files
  scripts/release.sh
Due: none

docs: add release readiness punchlist
  docs/RELEASE_GAPS_PUNCHLIST.md
Due: none

ci: enforce Conventional Commit subjects
  .forgejo/workflows/ci.yml
  docs/RELEASE_GAPS_PUNCHLIST.md
Due: jscpd

test: add --self-test headless smoke + CI fixture
  .forgejo/workflows/ci.yml
  docs/RELEASE_GAPS_PUNCHLIST.md
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

ci: add gated Forgejo release workflow
  .forgejo/workflows/release.yml
  docs/RELEASE_GAPS_PUNCHLIST.md
  scripts/release.sh
Due: jscpd

ci: use dedicated Forgejo release token secret
  .forgejo/workflows/release.yml
  docs/RELEASE_GAPS_PUNCHLIST.md
Due: jscpd

feat: notify on wallpaper process exit; release notes metadata
  docs/RELEASE_GAPS_PUNCHLIST.md
  linux-wallpaperengine-gtk.py
  scripts/release.sh
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

ci: prefer system steamcmd; gate SteamCMD URL allowlist
  .forgejo/workflows/ci.yml
  linux-wallpaperengine-gtk.py
Due: check-attribute-errors, check-shell-injection, check-broad-exceptions, jscpd

build: avoid token-in-URL git push in release script
  scripts/release.sh
Due: none

ci: remove symlink; share core gates between Forgejo and GitHub
  .forgejo/workflows/ci.yml
  .github/workflows/ci.yml
  scripts/ci-core.sh
Due: jscpd

build: make release script host-agnostic (forgejo|github)
  scripts/release.sh
Due: none

ci: normalize ci-core.sh file ending
  scripts/ci-core.sh
Due: none

docs: make Forgejo the sole release authority
  .cursor/rules/release-authority.mdc
  docs/RELEASE_POLICY.md
  scripts/release.sh
Due: none

build: require python 3.11+ for release tooling
  docs/RELEASE_POLICY.md
  scripts/release.sh
Due: none

ci: make Forgejo release endpoint configurable; harden GitHub release bypass
  .forgejo/workflows/release.yml
  .gitignore
  scripts/release.sh
Due: jscpd

chore: keep dev-only .cursor local; remove from release artifacts
  .cursor/rules/commit-messages-versioning.mdc
  .cursor/rules/release-authority.mdc
  .gitignore
  docs/RELEASE_POLICY.md
  scripts/release.sh
Due: none
